<h3>Welcome, <%= current_user.email %></h3>

<h2>Events you have created: </h2>
<ul>
  <% current_user.events.each do |event| %>
    <li>
      <%= link_to event.title, event_path(event.id) %>
    </li>
  <% end %>
</ul>