<h3>All Events</h3>

<% @events.each do |event| %>
  <div>
    <p>
      <%= event.date %>
      <%= link_to event.title, event_path(event.id) %> 
      @
      <%= event.location %>
    </p>
  </div>
  <br>
<% end %>

